/* General Settings  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

/* aggiungere QUI max-widht 1200px e width 90% */
main {
  margin: auto;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.centered {
  align-items: center;
  justify-content: center;
  display: flex;
}

.btn {
  padding: 7px 15px;
  border-radius: 20px;
}

.btn-bianco {
  background-color: white;
}

.btn-nero {
  background-color: #23272A;
}

.btn-lilla {
  background-color: #7289DB;
}


/* Header */

header {
  background-color: #255EEA;
  padding: 10px 0px;
}

/* ha un clearfix perche la sua altezza dipenderà dal contenuto al suo interno */
.main-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 95%;
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

.top-menu li {
  display: inline-block;
  list-style: none;
}

.top-menu li a {
  text-decoration: none;
  color: white;
  padding: 0px 15px;
}

/* MAIN */

main .sec {
  /* display: flex; */
  padding: 30px 0;
}

main .container {
  width: 95%;
  max-width: 1200px;
  margin: auto;
  height: 300px;
  display: flex;
}

.space-left, .space-right {
  border: 1px solid black;
}

/* prima sezione  */

main .sec.blue {
  background-color: blue;
}

main .first-info-box {
  background-color: #EF82EE;
  width: 70%;
  max-width: 900px;
  margin: auto;
  height: 300px;
  align-items: center;
}

/* seconda sezione  */

main .box-white .space-right {
  background-color: #FFC1CC;
  width: 40%;
  height: 300px;
}

main .box-white .space-left {
  background-color: #1E90FF;
  width: 60%;
  height: 300px;
}

/* terza sezione */

/* background che serve come riferimento struttura */
main .gray.sec {
  background-color: lightgray;
}

main .box-gray .space-right {
  background-color: #1E90FF;
  width: 60%;
  height: 300px;
}

main .box-gray .space-left {
  background-color: #FFC1CC;
  width: 40%;
  height: 300px;
}

/* la quarta sezione è identica alla seconda */

/* quinta sezione (piu grande) */
main .box-green {
  width: 95%;
  max-width: 1200px;
  height: 500px;
  background-color: green;
  margin: auto;
  }

/* Footer */
footer {
  background-color: #23272A;
  padding-top: 10px;
  padding-bottom: 20px;
}
  
footer .column {
  width: 95%;
  margin: auto;
  max-width: 1200px;
  height: 300px;
  display: flex;
  background-color: lightblue;
  margin-bottom: 20px;
}

footer .col {
  border: 1px solid white;
  background-color: #20B2AB;
  flex-grow: calc(100/5)
}

footer .col-left {
  background-color: #F08080;
  width: 20%;
}

/* copyright section  */

.copyright {
  margin: auto;
  height: 50px;
  display: flex;
  background-color: #23272A;
  border-top: 1px solid gray;
  padding-top: 10px;
}

.info-copy {
  width: 95%;
  margin: auto;
  max-width: 1200px;
  display: flex;
  background-color: lightblue;
  justify-content: space-between;
  padding: 10px 0;
}
