/* General Settings  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

html {
  font-size: 20px;
}

/* aggiungere QUI max-widht 1200px e width 90% */
main {
  margin: auto;
}

body img {
  width: 100%;
}

.centered {
  align-items: center;
  justify-content: center;
  display: flex;
}

.d-flex {
  display: flex;
}

.btn {
  padding: 12px 17px;
  border-radius: 30px;
  border: none;
  text-decoration: none;
}

.btn-bianco {
  background-color: white;
  color: #23272A;
}

.btn-nero {
  background-color: #23272A;
  color: white;
}

.btn-lilla {
  background-color: #7289DB;
  color: white;
}


/* Header */

header {
  background-color: #255EEA;
  padding: 10px 0px;
  font-size: 0.7rem;
}

/* ha un clearfix perche la sua altezza dipenderà dal contenuto al suo interno */
.main-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 95%;
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

.top-menu li {
  display: inline-block;
  list-style: none;
}

.top-menu li a {
  text-decoration: none;
  color: white;
  padding: 0px 15px;
}

/* MAIN */

/* info generali */

main .sec {
  padding: 100px 0;
  display: flex;
}

main .container {
  width: 95%;
  max-width: 1200px;
  margin: auto;
  height: 450px;
}


/* prima sezione  */

main .hero {
  background-image: url("/img/jumbo.png");
  background-size: cover;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

main .first-info-box {
  flex-direction: column;
  width: 70%;
  max-width: 900px;
  margin: auto;
  justify-content: center;
  height: 450px;
  color: white;
  line-height: 30px;
  font-size: 0.9rem;
}

main .first-info-box h1 {
  font-size: 2.5rem;
  padding-bottom: 50px;
}

main .hero-btn-row {
  padding: 30px 0;
}

main .btn-bianco {
  margin-right: 20px;
}

/* seconda sezione  */

main .box-white .space-left {
  width: 60%;
}

main .box-white .space-right {
  width: 40%;
}

main h2 {
  font-size: 2.5rem;
  padding: 20px 0px 20px 0;
} 

/* main p {
  padding: 5px 95px 20px 0;
} */

/* terza sezione */

/* background che serve come riferimento struttura */
main .gray.sec {
  background-color: #F6F6F6;
}

main .box-gray .space-right {
  width: 60%;
}

main .box-gray .space-left {
  width: 40%;
}

/* la quarta sezione è identica alla seconda */

/* quinta sezione (piu grande) */
main .big-box {
  width: 95%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  }

main .big-top {
  text-align: center;
}

main .big-top img{
  width: 100%;
}

main .big-bottom h3 {
  font-size: 1.5rem;
  margin-bottom: 50px;
}

/* Footer */
footer {
  background-color: #23272A;
  padding-top: 10px;
  padding-bottom: 20px;
  color: white;
  padding: 50px 0px;
}
  
footer .column {
  width: 95%;
  margin: auto;
  max-width: 1200px;
  display: flex;
  border-bottom: #F6F6F6;
}

footer .col {
  flex-basis: 25%;
}

footer .col-left {
  width: 20%;
}

footer .col-right{
  width: 80%;
  display: flex;
}

footer .col-left h3{
  font-size: 1.5rem;
  color: #7289DB;
}

footer .lingua {
  display: flex;
  align-items: center;
}

footer .lingua img {
  width: 25px;
  margin-right: 5px;
}

footer .lingua p {
  font-size: 0.7rem;
  margin: 20px 3px 20px 0px;
}

footer .lingua i {
  width: 20px;
}

footer .social i {
  margin: 0px 5px;
}

footer li {
  list-style: none;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

footer li:first-child {
  color: #7289DB;
}


/* copyright section  */

.copyright {
  margin: auto;
  display: flex;
  background-color: #23272A;
  height: 100px;
}

.info-copy {
  width: 95%;
  margin: auto;
  max-width: 1200px;
  border-top: 1px solid #7289DB;
  justify-content: space-between;
  padding-top: 20px;
}

.copyright a {
  font-size: 0.7rem;
}
